$tiers: (
  tier-s: #6e44ff,
  tier-a: #b892ff,
  tier-b: #ffc2e2,
  tier-c: #ff90b3,
  tier-d: #ef7a85,
  tier-f: #e85f5c
);
$tier-height-sm: 120px;
$tier-height-lg: 150px;
$character-width-sm: 75px;
$character-width-lg: 105px;
