@import "variables";
@import "../../layouts/mixins";

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-height: 100vh;
}

.scroller {
  height: 100%;
  overflow-y: auto;
}

.unranked {
  min-height: $tier-height-sm;
  @include on-tablet {
    min-height: $tier-height-lg;
  }
  height: 60%;
  overflow-y: auto;
}
