@import "variables";
.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-height: 100vh;
}

.scroller {
  height: 100%;
  overflow-y: auto;
}

.unranked {
  min-height: $tier-height;
  height: 60%;
  overflow-y: auto;
}
