@import "variables";
@import "../../layouts/mixins";

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-height: 100vh;
}

.scroller {
  height: 100%;
  overflow-y: auto;
}

.unranked {
  height: 60%;
  overflow-y: auto;
}
