@import "../../../layouts/variables";
.thumbnailWrapper {
  display: flex;
  margin: 5px;
  justify-content: center;
  align-items: center;
}

.gray {
  color: dimgray;
}

.info {
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: space-between;
}

.top {
  max-height: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.title {
  color: #3F3E3E;
  font-style: normal;
  width: 80%;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 14px;
  font-weight: 300;
}

.type {
  font-weight: lighter;
  color: #6D6D6D;
  font-size: 12px;
}

.episodes {
  color: #6D6D6D;
  font-weight: normal;
  font-size: 12px;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.text {
  padding: 5px;
  display: flex;
  align-items: center;
}

.thumbnail {
  max-width: 100%;
  border-radius: 3px;
}

.container {
  min-height: 90px;
  max-height: 100%;
  display: grid;
  grid-template-columns: 70px auto;
  padding: 5px;
  width: 100%;
}
.resultWrapper {
  display: flex;
  align-items: center;
}
.icons a,
.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.icon {
  margin-left: 5px;
  border-radius: 3px;
  width: 22px;
  height: 22px;
}
