@import "../../../layouts/mixins";
@import "../variables";
.character {
  height: 120px;
  width: $character-width-sm;
  max-width: $character-width-sm;
  overflow: hidden;
  @include on-tablet {
    width: $character-width-lg;
    max-width: $character-width-lg;
    height: 150px;
  }
  position: relative;
  border-bottom: 5px purple;
}
$name-padding-w: 10px;
.name {
  text-align: center;
  display: inline-block;
  color: gainsboro;
  position: absolute;
  font-size: 10px;
  @include on-tablet {
    font-size: 12px;
  }
  bottom: 0;
  left: 0;
  // absolutely positioned things don't respect
  // automatic padding boundary
  width: calc(100% - 20px);
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0.5);
}

.favorite {
  color: #ff90b3;
  font-size: 18px !important;
  position: absolute;
  top: 0;
  left: 0;
  margin: 5px;
}

.characterImage {
  object-fit: contain;
  height: auto;
  width: 100%;
}
