@import "../variables";

@import "../../../layouts/mixins";

.tier {
  display: flex;
  flex-direction: row;
  min-height: $tier-height-sm;
  @include on-tablet {
    min-height: $tier-height-lg;
  }
  border-bottom: 1px dimgrey solid;
  width: 100%;
  overflow: hidden;
}

.tierText {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  @include on-tablet {
    width: 100px;
  }
  text-align: center;
}

.tierCharacters {
  position: relative;
  width: 100%;
  min-height: $tier-height-sm !important;
  @include on-tablet {
    min-height: $tier-height-lg;
  }
  //display: grid;
  //width: 100%;
  //grid-template-columns: repeat(auto-fit, $character-width-sm);
  //@include on-tablet {
  //  grid-template-columns: repeat(auto-fit, $character-width-lg);
  //}
}

@each $rank, $color in $tiers {
  .#{$rank} {
    background-color: $color;
  }
}

