@import "variables";
@import "../../layouts/mixins";

.container {
  a {
    text-decoration: none;
  }
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 15px auto;
  @include on-tablet {
    margin: 10px 15px;
  }
}

.thumbnail {
  max-width: 50px;
  min-height: 50px;
}

.searchResult {
  display: flex;
  justify-content: center;
}

.resultsContainer {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, $search-width);
  grid-gap: 1rem;
  width: 100%;
  margin: 0;
}

.noSearch {
  grid-template-columns: 1fr;
}

.searchPrompt {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 10px;
}

.searchBar {
  width: 80%;
  margin: 20px auto;
}

.hifumiImage {
  margin: 0 auto;
}

.title {
  padding: 15px;
  text-align: center;
}
