@import "../../../layouts/mixins";

.title {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  z-index: 3;
  padding: 45px;
  text-align: center;
}

.text {
  line-height: 1.2;
  font-size: 52px !important;
  @include on-tablet {
    font-size: 62px !important;
  }
  @media (min-width: 900px) {
    font-size: 84px !important;
  }
  @media (min-width: 1200px) {
    font-size: 104px !important;
  }
}
