@import "../../../layouts/mixins";
.divider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  white-space: nowrap;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 14px !important;
  @include on-tablet {
    font-size: 22px !important;
  }
}

.section {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.left {
  @extend .section;
  // big hack, trying to not make the style
  // overflow into the button
  max-width: 45%;
}

.linkIcon {
  margin-left: 5px;
}

.actionsOverride {
  padding: 16px 24px !important;
}

.dialogueBody {
  overflow-x: hidden;
}
