@import "../variables";
@import "../../../layouts/mixins";

.tier {
  display: flex;
  width: 100%;
  flex-direction: column;
  border-bottom: 1px dimgrey solid;
}

.tierText {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  @include on-tablet {
    width: 100px;
  }
  text-align: center;
}

.collapse {
  border-top: 1px solid #b2b2b2;
  max-height: 50vh;
  overflow-x: auto !important;
}

.swipeSection {
  @include before-tablet {
    &:before {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      flex-direction: column;
      font-size: 12px;
      color: #3c3c3c;
      content: "Swipe here to scroll"
    }
  }
}

.tierCharacters {
  position: relative;
  //display: flex;
  min-height: $tier-height-sm;
  max-height: $tier-height-sm * 2;
  width: 90%;
  @include on-tablet {
    width: 100%;
    min-height: $tier-height-lg;
    max-height: $tier-height-lg * 2.5;
  }
}

.bottomDrawer {
  min-height: 56px;
}
