@import "../variables";
@import "../../../layouts/mixins";

.tier {
  display: flex;
  width: 100%;
  flex-direction: column;
  border-bottom: 1px dimgrey solid;
}

.tierText {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  @include on-tablet {
    width: 100px;
  }
  text-align: center;
}

.collapse {
  max-height: 50vh;
  overflow-x: auto !important;
}

.tierCharacters {
  position: relative;
  //display: flex;
  min-height: $tier-height-sm;
  max-height: $tier-height-sm;
  width: 90%;
  @include on-tablet {
    width: 100%;
    min-height: $tier-height-lg;
    display: grid;
    height: 100%;
    width: 100%;
  }
}

.bottomDrawer {
  min-height: 56px;
}
